<div class="container">
  <div class="row">
    <div class="col-md-12">
      <footer role="contentinfo">
        <p>
          <small>Copyright &copy; Leslie KORNes </small>
        </p>
      </footer>
    </div>
  </div>
</div>
